.business {
    &__title {
        text-align: center; 
        margin-bottom: 40px;
        font-size: 35px;
        font-weight: bold;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__block {
        width: 48%;
        height: 300px;
        border-radius: 20px;
        margin-bottom: 100px;
        .block {
            border-radius: 20px;
        }
        img {
            object-fit: cover;
            margin-bottom: 15px;
        }
        .info {
            display: flex;
            flex-direction: column;
        }
        .category {
            position: absolute;
            left: 30px;
            top: 20px;
        }
        .author-date {
            margin-bottom: 15px;
            color: #000;
            order: 2;
        }
        .title {
            margin-bottom: 15px;
            color: #000;
            order: 1;
        }
    }
}