$main-color: #4A90E2;

@font-face {
	font-family: 'PT Sans';
	src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');
}

* {
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif !important;
}

body {
    background-color: #F2F2F2;
	font-family: 'PT Sans', sans-serif;
}

.container {
	margin:0 auto;
}

.block {
    height: 100%;
    position: relative;
    cursor: pointer;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .8s;
    }
    .category {
        padding: 2px 12px 2px 12px;
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        background: $main-color;
        border-radius: 3px;
        z-index: 3;
        transition: .8s;
    }

    .like {
        background: $main-color;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white; 
        border: none;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .author-date {
        color: #ffffff;
        font-size: 12px;
        z-index: 3;
        transition: .8s;
    }
    
    .title {
        transition: .8s;
        z-index: 3;
        a {
            font-weight: bold;
            color: #000000;
            font-size: 21px;
            line-height: 25px;
            text-decoration: none;
        }
    }
    
    .shadow {
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
        transition: .5s;
    }
}



@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}