.menu {
    display: flex;
    justify-content: space-between;
    flex: 2;
    &__button{
        cursor: pointer;
        a {
	        font-family: 'PT Sans', sans-serif;
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
        }
    }
    .favourite {
        padding-left: 50px;
        position: relative;
        text-transform: uppercase;
        div {
            position: absolute;
            top: -13px;
            right: -13px;
            border-radius: 50%;
            background-color: #fff;
            padding: 3px 6px;
            opacity: 70%;
        }
    }
}